.row {
  display: flex;
}
.col-1 {
  flex: 1 1 48%;
  margin: 1% 0 1% 1%;
}
.col-2 {
  flex: 1 1 50%;
}
.map-container {
  /* width: 100%; */
  height: 100vh;
}
.left-section {
  overflow: auto;
  height: 100vh;
}
.card-img-container {
  flex: 0 1 40%;
}
.card-text {
  flex: 0 1 59%;
  margin-left: 1%;
}
.card-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.card {
  height: 200px;
}
.hr-line {
  border: 1px solid #EBEBEB;
}
